<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="MTJ.emulatorLaunchConfigurationType">
<booleanAttribute key="mtj.do_jad_launch" value="true"/>
<booleanAttribute key="mtj.do_ota" value="false"/>
<stringAttribute key="mtj.specified_jad_url" value="E:/workspaceJ2me/HelloWorld/.mtj.tmp/emulation/HelloWorld.jad"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HelloWorld"/>
</launchConfiguration>
